body {
	background-color: aliceblue;
}
p {
  text-align: right; 
  font-size: 72pt;
  color:orangered;
  }
.size1{
    height: 200px;
    width: 320px;
}
table{
	align: "center";
	font-size:22px;
}
.content{
	width: 70%;
	height: 20%;
	font-size:20px;
	margin: auto;
}
footer{
	background-color: yellow;
}
